<ion-tabs class="tabs-icon-top  tabs-color-active-positive">
    <ion-tab nav-direction="swap" title="历史" icon="ion-android-list" href="tab/history">
        <ion-nav-view name="tab-history"></ion-nav-view>
    </ion-tab>
    <ion-tab nav-direction="swap" title="工作" icon-off="ion-search" icon-on="ion-search" href="tab/working">
        <ion-nav-view name="tab-working"></ion-nav-view>
    </ion-tab>
    <ion-tab nav-direction="swap" title="任务" icon="ion-android-clipboard"  href="tab/mission">
        <ion-nav-view name="tab-mission"></ion-nav-view>
    </ion-tab>
</ion-tabs>