/*****************************
App基本样式
******************************/
.fr{float:right;}.fl{float:left;}
.mt10{margin-top:10px;}.mt5{margin-top:5px;}.mt15{margin-top:15px;}.mt20{margin-top:20px;} .mt25{margin-top:25px;}.mt40{margin-top:40px;}.mt50{margin-top:50px;}
.ml10{margin-left:10px;} .ml5{margin-left:5px;} .ml15{margin-left:15px;} .ml20{margin-left:20px;}.ml25{margin-left:25px;}.ml30{margin-left:30px;}.ml35{margin-left:35}.ml40{margin-left:40}.ml45{margin-left:45}.ml50{margin-left:50}
.mr10{margin-right:10px;} .mr5{margin-right:5px;} .mr15{margin-right:15px;} .mr20{margin-right:20px;}
.mb10{margin-bottom:10px;}.mb5{margin-bottom:5px;}.mb15{margin-bottom:15px;}.mb20{margin-bottom:20px;}
.pl5{padding-left: 5px;}.pl10{padding-left: 10px;}.pl15{padding-left: 15px;}.pl20{padding-left: 20px;}.pl25{padding-left: 25px;}
.pr5{padding-right: 5px;}
.tc{text-align:center;}.tl{text-align:left;} .tr{text-align:right;}
.red{color:red;} .gray{color:gray;} .lightblue{color:#0e93eb;} .orange{color:#ff8a00;} .blue{color:blue;}
.green{color:green;} .white{color:white;} 
.pagingBk{background-color:#eee;}
.bk_lightblue{background-color:#0e93eb;}
.bk_red{background-color:red;}
.display_none{display:none;} .display_block{display:block;} .display_inline{display:inline;} 
.visibility_hidden {visibility:hidden;}.visibility_visible {visibility:visible;}
.fs05{font-size:0.5em;} .fs10{font-size:1em;} .fs12{font-size:1.2em;} .fs20{font-size:2em;} .fs15{font-size:1.5em;}
.fs06{font-size:0.6em;} .fs08{font-size:0.8em;} .fs20{font-size:2.0em;} .fs25{font-size:2.5em;}
.cp{cursor:pointer;}
.vm{vertical-align: middle;}
.lh15{line-height:1.5;}.lh14{line-height: 1.428571429;} lh22{line-height:2.222222;}
.w100{width:100%;} .w80{width:80%;} .w90{width:90%;}

/******************************
APP组件库
*******************************/
.rr_textarea {
    border: #eee solid 2.85px;
    color: #aaa;
    border-radius: 7px;
    width: 100%;
    height: 5em;
    padding-top:2px;
    padding-left: 5px;
    padding-right:5px;
    resize:none;
}
.rr_textarea：focus,.rr_textarea:hover {
    border-radius: 7px;
}

/******************************
组件库
*******************************/
.clock-parent {
    height:4em;
    margin-top:0.5em;
}
.clock {
    background:#ffffff;
    font:bold 12px Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    min-width:960px;
    color:#202020;
    font-size:3em;
    display:inline;
    margin-left:0.2em;
    vertical-align: middle;
    margin-right:0.5em;
}
